body {
    font-family:"Pragati Narrow";
    margin:0 0 0 0;
}

section {
    min-height: -00vh; /* minus the height of the footer */
}

.maxSize {
    min-width:350px;
    max-width:1280px;
    background-color:rgba(211, 211, 211, 0.2);
    margin:0 auto;
}

nav {
    width:350px;
    height:85px;
    margin: auto;
    display:flex;
}

h1 {
    font-size:40px;
    font-weight:200;
    letter-spacing:-2px;
    margin:0 auto;
    padding-left:50px;
}

.fa-bars {
    z-index:999;
    display:block;
    margin-top:24.5px;
    font-size:24px;
    color:rgb(123, 123, 123);
}




.fa-chevron-down {
    display:none;
    margin-top:20px;
    font-size:30px;
    color:rgb(108, 108, 108);
}

.dropDownMenu {
    
    display:none;
    position:absolute;
    visibility:visible;
    width:200px;
    margin:65px 0px 0px 150px;

    /* width:200px;
    height:400px; */
    /* background-color:white; */
    /* border:2px solid black; */
    list-style-type:none;
}


.dropDown {
    display:block;
    

       
        animation-name: example;
        animation-duration: 2s;
      }
      
      @keyframes example {
        0%   {background-color: red;  top:-300px;}
    
        50%  {background-color: yellow;  top:10px;}

        65%  {background-color: yellow;  top:5px;}

        100% {background-color: red; top:0px;}
      }




.dropDownDesktop {
    display:block;
    position:absolute;
    visibility:visible;
    width:200px;
    /* left:150px; */
    margin:65px 0px 0px 900px;

    /* width:200px;
    height:400px; */
    /* background-color:white; */
    /* border:2px solid black; */
    list-style-type:none;
}

li {
    font-size:20px; 
    color:black;
    background-color:white;
    border:2px solid black;
    border-bottom:0px solid black;
    padding:8px;   
}

.dropDownMenu :nth-child(5) {
    border-bottom:2px solid black;
    }
    

a {
    padding:2px;
    color:black;
    text-decoration:none;
    
}

.column-section {
    display:block;
    margin:-150px auto;
    min-width:150px;
    background-color:white;
    height:1700px;
    max-width:300px;
    

    -webkit-box-shadow: 0px 0px 6px 5px rgba(50, 50, 50, 0.18);
-moz-box-shadow:    0px 0px 6px 5px rgba(50, 50, 50, 0.18);
box-shadow:         0px 0px 6px 5px rgba(50, 50, 50, 0.18);

        }


#intro {
    background-color:black;
    height:600px;
    margin: 0px auto;
}

/* #intro:hover {
    margin-top: 14px;
    margin-bottom: 10px;
    transition: 1s;
    
    background-color:black;
    height:800px;
    transform: translate(-30px, --50px) ;
  
} */

.sectionTitle {
    color:white;
    font-size:32px;
    font-weight:500;
    text-align:center;
    padding:150px 55px 20px 55px;
    line-height:1.2em;
}

.sectionTitleTwo {
    color:black;
    font-size:32px;
    font-weight:500;
    text-align:center;
    padding:150px 55px 20px 55px;
    line-height:1.2em;
}



#whiteText {
    color:white;
    text-align:center;
    font-size:20px;
    padding:5px 25px 25px 25px;
    line-height:1.2em;
}

/* //////////////FULL WIDTH SECTION MOBILE */
.fullWidthContainer {
    position:relative;
    z-index: inherit 1;
    display:block;
    min-width:150px;
    background-color:grey;
    height:600px;
    max-width:100%;
}

.fullWidthContainer2 {
    position:relative;
    z-index: 5;
    display:block;
    min-width:150px;
    background-color:grey;
    height:600px;
    max-width:100%;
}






/* ///////////ABOUT SECTION CSS */
.slantTopWrap {
    filter: drop-shadow(0px -9px 10px rgba(0, 0, 0, 0.314));
}

.slantBottomWrap {
    filter: drop-shadow(0px 7px 10px rgba(0, 0, 0, 0.314));
}

.slantedOnTopAbout {
    
    margin-top:-200px;
    background-color:rgb(203, 203, 203);
    height:20px;
    padding-top: 100px;
    padding-bottom: 100px;
/* -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px)); */
    clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px));
}

#about {
    background-color:rgb(203, 203, 203);
    z-index:3;
    height:400px;
    margin-top:-150px;

}

#aboutTitle {
    color:black;
}

#aboutText {
    color:black;
    text-align:center;
    font-size:20px;
    padding:5px 30px 25px 30px;
    line-height:1.2em;
}
.slantedOnBottomAbout {
    
    background-color:rgb(203, 203, 203);
    margin-top:-2px;
    height:20px;
    padding-top: 100px;
    padding-bottom: 100px;
/* -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px)); */
clip-path:  polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 100px)
  );
}



/* /////////SPECIALTIES SECTION MOBILE */
#specialties {
    display:flex;
    flex-direction:column;
    text-align:center;
    margin:-95px auto 250px auto;
    padding-top:140px;
    width:275px;
    height:2000px;
    overflow:hidden; 
}


.featureSquare {
    display:block;
    height:250px;
    width:250px;
    background-color:lightgray;
    margin:25px auto;
    border-radius:7px;

}



.alignLeft {
text-align:left;
margin-left:5px;

}



#design {
}

#development {
}

#creativeCoding {
}

#imagery {
}

.fa-pencil-square-o {
    color:grey;
    margin-top:40px;
    margin-left:25px;
    margin-bottom:-10px;
    font-size:160px;
} 

.fa-sitemap {
    color:grey;
    margin-top:60px;
    font-size:130px;
}

.fa-code {
    color:grey;
    margin-top:50px;
    font-size:140px;
}

.fa-magic{
    color:grey;
    margin-top:60px;
    font-size:130px;
}


/* ////PROJECTS -mobile */

.slantedOnTopProjects {
    background-color:rgb(243, 243, 243);
    height:20px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin:-130px auto;
/* -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px)); */
    clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px));
}

.slantedOnBottomProjects {
    z-index:0;
    background-color:rgb(243, 243, 243);
    margin-top:-2px;
    margin-bottom:430px;
    height:10px;
    padding-top: 100px;
    padding-bottom: 50px;
    clip-path:  polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 100px)
  );
}

#projectsDiv {
    z-index:2;
    height:1900px;
    background-color:rgb(243, 243, 243);
}

#Projects {
    z-index:0;
    
}
#desktop {
    z-index:0;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:650px;
    margin:0 auto;
}

.bigDiv {

    display:flex;
    flex-direction:column;
    text-align:center;
    margin:-25px auto auto auto;
    width:578px;
    height:660px;
    /* background-color:white; */
    /* overflow will allow to link all the links*/
    overflow:hidden;
    /* border:2px solid black; */

 
    /* background-color:grey; */
}

.imageBigDiv { 
    position:relative;
    width:100%;
    z-index:-1;
}

.overlayBigText {
    position:relative;
    text-align:center;
    
    background-color:rgba(000, 000, 000, 0.2);
    padding-top:170px;
    padding-bottom:170px;
    color:white;
    z-index:999;
    top:430px;
    margin-top:-400px;
    margin-left:-35px;
    width:100%;
}


.project {
    z-index:8;
    display:flex;
    flex-direction:column;
    text-align:center;
    margin:-25px auto auto auto;
    width:250px;
    height:380px;
    /* background-color:white; */
    /* overflow will allow to link all the links*/
    overflow:hidden;
    /* border:2px solid black; */

}




h2 {
    position:relative;
    text-align:center;
    
    background-color:rgba(151, 151, 151, 0.331);
    padding-top:60px;
    padding-bottom:60px;
    color:rgb(249, 249, 249);
    z-index:999;
    top:190px;
    left:0 auto;
    width:100%;
}


.overlay {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    z-index:999;
    width:250px;
    margin-bottom:130px;
    margin-top:0px;
    /* background-color:white; */
    height:90px;

}

.overlayText {
    align-items:flex-start;
    margin-top:0px;

}





.imageDiv { 
    position:relative;
    width:100%;
    z-index:-1;
}



img {
    width: 250px;
    height:160px;
    margin:10px auto;
}

p {
    text-align:center;
    padding:10px;
    line-height:1.1em;
    margin-bottom:-2px;

}   

.skillsCard {
    width:250px;
    height:325px;
    background-color:white;
    display:block;
    margin:100px auto;
    padding:1px;
    border-radius:3px;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(50, 50, 50, 0.32);
-moz-box-shadow:    0px 0px 8px 2px rgba(50, 50, 50, 0.32);
box-shadow:         0px 0px 8px 2px rgba(50, 50, 50, 0.32);
}


#skillsDiv {
    
    z-index:0;
    height:2450px;
    background-color:white;
    margin-top:-530px;
    margin-bottom:0px;
    }

.skillTitle {
    background-color:rgb(231, 231, 231);
    margin:3px;
    text-align:left;
}


    .skillsTitleSection {
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        align-items:center;
        flex-wrap:wrap;
    }

    

.ninetysix {
    margin:0px;
    display:block;
    width:96px;
    height:96px;
    
}
/* 
#designSkills {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    width:250px;
} */

#developmentSkills {
}

#imagerySkills {
}

#socialIcons {
    width:300px;
    height:450px;
    z-index:0;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    margin:200px auto;
    margin-bottom:-400px;
    /* margin-top:0px;
    margin-bottom:100px; */

}

.icon {
    color:rgb(81, 81, 81);
    font-size:70px;
}

a {
    color:rgb(59, 59, 59);
    
    width:200px;
    text-decoration:none;
}


.contactForm {
    width:275px;
    z-index:2;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: -150px auto;
    /* margin: 0 auto; */
}

#contact {
    z-index:2;
    background-color:white;
    margin-top:0px;
    padding-top:0px;
    padding-bottom:-40px;
    box-shadow: 0px -5px 20px 0px rgba(50, 50, 50, 0.2);
    margin-bottom:0px;
}


.contactUs {
    margin-left:74%;
    width:100px;
    background-color:black;
    color:white;
    text-align:center;
    margin-top:70px;
    
}

.form {
    width:100%;
    display:flex;
    flex-direction:column;

    border:2px solid black;
    padding:15px;
    margin-bottom:0px;
    
}

label {
    padding-top:7px;
    padding-bottom:7px;
}

.input {
 
    margin-top:20px;
    padding:10px;
    margin-bottom:50px;
    border:none;
    background-color:rgb(67, 67, 67);
    font-family:"Pragati Narrow";
    font-size:18px;
    color:white;
    
}

.boxes {
    padding:10px;
    border:2px solid black;
}


.textField {
}

#submit {

}

#footer {

    display:flex;
    flex-direction:column;
    background-color:black;
    justify-content:center;
    height:180px;
    margin-top:-20px;
    margin-bottom:-40px;
    z-index:0;
}

#footerText {
    display:block;
    font-size:30px;
    text-align:40px;
    
    color:rgb(71, 71, 71);
    font-size:40px;
    font-weight:200;
    letter-spacing:-2px;
    margin:700 auto;
    padding-left:50px;
    
}
#footerDate {
display:block;
margin:5px auto;
font-weight:200;
color:rgb(71, 71, 71);
}



/* .icon-button-links {
    width:100px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    border:2px solid black;
} */
button {
    background-color:rgba(000, 000, 000, 0.2);
    width:150px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    border-style:none;
    border-radius:5px;
    margin:15px auto;
    margin-top:5px;
    padding:6px;
}




.list-group-item {
    text-align:left;
    width:150px;
    font-size:25px;
    color:dimgrey;
    margin-left:25px;
    /* border:2px solid black; */

    /* margin:auto; */

}

.small {
    
    position:absolute;
    font-family:"Pragati Narrow";
    font-size:15px;
    margin-left:6px;
    margin-bottom:30px;
    margin-top:-5px;
    padding:10px 0px 20px 0px;

}



/* //////////   TABLE AND DESKTOP MEDIA QUERY //////// */
/* //////////   TABLE AND DESKTOP MEDIA QUERY //////// */
/* //////////   TABLE AND DESKTOP MEDIA QUERY //////// */
/* //////////   TABLE AND DESKTOP MEDIA QUERY //////// */
@media (min-width: 767px) { 

    .fa-chevron-down {
        display:block;
        margin-top:20px;
        font-size:30px;
        color:darkgrey;
     
    }

    .fa-bars {
        display:none;

    }

    nav {
    width:350px;
    height:85px;
    margin:0px 0px 0px 50%;
    display:flex;
    flex-direction:row;
    justify-content:right;
    /* background-color:lightgray; */
    
 }


    .column-section {
        z-index:0;
        display:block;
        margin:116px auto;
        background-color:white;
        height:1100px;
        margin-bottom:-100px;
        max-width:700px;
    
        -webkit-box-shadow: 0px 0px 6px 5px rgba(50, 50, 50, 0.18);
    -moz-box-shadow:    0px 0px 6px 5px rgba(50, 50, 50, 0.18);
    box-shadow:         0px 0px 6px 5px rgba(50, 50, 50, 0.18);
    
            }

    .fullWidthContainer {
        
        z-index:2;
        display:block;
        margin:-150px auto;
        min-width:150px;
        background-color:grey;
        height:600px;
        max-width:100%;
    }


    #aboutText {
        color:black;
        text-align:center;
        font-size:20px;
        padding:5px 270px 25px 270px;
        line-height:1.2em;


    }

    
    .slantedOnBottomAbout {
    
        background-color:rgb(203, 203, 203);
        margin-top:100px;
        height:20px;
        padding-top: 100px;
        padding-bottom: 100px;
    /* -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px)); */
    clip-path:  polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 100px)
      );
    }
    

    #specialties {
        z-index:0;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        width:600px;
        height:600px;
        padding-top:240px;
        margin-top:-250px;
        margin-bottom:800px;

    }

    #desktopColumn {
        margin-top:-120px;

    }

    #projectsDiv {
        z-index:4;
        height:1800px;
        background-color:rgb(243, 243, 243);
        margin-top:0px;
        margin-bottom:0px;
    }

    #skillsDiv {
        
        text-align:center;
        z-index: 1;
        height:1200px;
        background-color:white;
        margin-bottom:-400px;

        }

        .desktopViewSkills {
            width:900px;
            display:flex;
            flex-direction:row;
            justify-content:space-between;
            margin:0 auto;
            
            
        }

        .desktopButtons {
            background-color:black;
            margin:30px auto;
            margin-left:-90px;
            margin-bottom:100px;
            width:750px;

            display:flex;
            flex-direction:row;
            justify-content:space-between;
        }

      

        .list-group-item2 {
            text-align:left;
            width:150px;
            font-size:30px;
            color:lightgrey;
            margin-top:5px;
            margin-left:20px;
            /* border:2px solid black; */
        
            /* margin:auto; */
        
        }

        .small2 {
            
                position:absolute;
                font-family:"Pragati Narrow";
                color:white;
                font-size:18px;
                margin-left:8px;
                margin-bottom:30px;
                margin-top:0px;
                padding:10px 0px 20px 0px;
            
            }
            .description {
                margin:10% auto;
                margin-bottom:%;
            }
        
            .description2 {
                font-size:22px;

            }
   
        


        .skillsTitleSection {
            display:flex;
            flex-direction:row;
            justify-content:space-around;
            align-items:center;
            flex-wrap:wrap;
        }
    
        
        #designSkills {
        }
        
        #developmentSkills {
        }
        
        #imagerySkills {
        }
        
        #socialIcons {
            width:600px;
            height:450px;
            z-index:4;
            display:flex;
            flex-direction:row;
            justify-content:space-between;
            align-items:center;
            flex-wrap:wrap;
            margin:-100px auto;
            /* margin-top:0px;
            margin-bottom:100px; */
        
        }
        
        .icon {
            z-index:5;
            color:rgb(81, 81, 81);
            font-size:80px;
        }

        .contactForm {
            width:600px;   
            z-index:2;
           margin: 0300px auto;
        }

        .form {
            padding:30px;
          
          
        }

    #footer {
        display:flex;
        flex-direction:column;
        text-align:center;
        margin-top:0px;
        margin-bottom:-200px;
        z-index:0;
    }
            
     
    }

/* //////////   TABLE AND DESKTOP MEDIA QUERY END //////// */
/* //////////   TABLE AND DESKTOP MEDIA QUERY END//////// */
/* //////////   TABLE AND DESKTOP MEDIA QUERY END//////// */
/* //////////   TABLE AND DESKTOP MEDIA QUERY END//////// */


