.project {
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    margin:15px auto auto auto;
    border:2px solid black;
    width:250px;
    height:350px;
    background-color:white;


    
    

}

.overlay {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    z-index:999;
    width:250px;
    margin-bottom:100px;
    background-color:white;
    height:80px;

}

.imageDiv { 
    position:relative;
    width:100%;
    z-index:-1;
}

h2 {
    position:relative;
    text-align:center;
    font-family:"Pragati Narrow";
    background-color:rgba(000, 000, 000, 0.2);
    padding-top:40px;
    padding-bottom:40px;
    color:red;
    z-index:999;
    top:125px;
    left:0 auto;
    width:100%;

    
}

img {
    width: 250px;
    height:175px;
    margin:10px auto;
}

button {
    background-color:rgba(000, 000, 000, 0.2);
    width:150px;
    display:flex;
    flex-direction:column;
    align-items:center;
    /* justify-content:space-between; */
    margin:15px auto;
}




/* .fa {
    width:60px;

} */


 a {
     /* background-color:rgba(000, 000, 000, 0.2); */
 }
/* .icon-button-links {
    width:100px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    border:2px solid black;
} */

.list-group-item {
    text-align:center;
    width:100px;
    font-size:25px;
    color:dimgrey;
    /* border:2px solid black; */

    /* margin:auto; */

}


.small {
    display:row;
    font-family:"Pragati Narrow";
    font-size:15px;
    margin:5px;
    padding:-15px 0px 0px 0px;

}

